/* General styles */

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, #faf0cd, #fab397);
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    color: #AE5B6C;
    font-weight: bold;
    margin: 0;
}

/* Styles for containers */

.container {
    margin: 0 auto;
    max-width: 40rem;
}

.accordion {
    cursor: pointer;
}

h1,
.accordion-item {
    border-bottom: solid #AE5B6C 0.1rem;
    padding: 0;
}

h1,
.accordion-header {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

/* Styles for elements inside accordeon-item*/

.accordion-header {
    color: rgb(118, 10, 118);
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.5s;
    display: flex;
    justify-content: space-between;
}

.accordion-button:checked~.accordion-header {
    color: #AE5B6C;
}

.accordion-header::after {
    content: '';
}

@media (hover: hover) {
    .accordion:hover .accordion-header {
        color: #AE5B6C;
    }

    .accordion:hover .accordion-header::after {
        content: '+';
    }

    img:hover {
        box-shadow: 0.2rem 0.2rem 0.8rem 0 #0000005f;
    }
}

.accordion-button {
    display: none;
}

.accordion:hover .accordion-button:checked~.accordion-header::after,
.accordion-item:hover .accordion-header::after {
    content: "x";
}

.accordion-button:checked~.accordion-img,
.accordion-item:hover .accordion-img {
    height: auto;
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.accordion-img {
    height: 0;
    transform: scale(0);
    transition: 0.3s transform, 0.3s height ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accordion-img:active>img,
.accordion-item:active>label {
    opacity: 0.5;
}

img {
    max-height: 23rem;
    max-width: 100%;
    padding: 0;
    margin: 1.5rem;
}


@media (max-width: 820px) {

    h1 {
        font-size: 1.8rem;
    }

    .accordion-header {
        font-size: 1.3rem;
    }
}

@media (max-width: 320px) {

    h1 {
        font-size: 1.5rem;
    }

    .accordion-header {
        font-size: 1rem;
    }
}